
body
    div#map

    // my scripts
    script(src="/js/maps.js", language="javascript", type="text/javascript")

    // google maps api
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNyIL_vOhOYdSZc-hODAlGVoUpLJYf7fA&callback=initMap", async defer)