doctype html
html(lang='pt-br')    
    head
        meta(name="viewport", content="initial-scale=1.0")
        meta(charset="utf-8")
        title= title

        // scripts
        script(src="https://cdn.jsdelivr.net/npm/portis/dist/bundle.min.js" language="javascript", type="text/javascript")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.3/mobile-detect.min.js", language="javascript", type="text/javascript")
        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", language="javascript", type="text/javascript", integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=", crossorigin="anonymous")
        
        // css
        link(href="https://unpkg.com/purecss@1.0.0/build/pure-min.css", rel="stylesheet", integrity="sha384-", crossorigin="anonymous")
        link(href="/css/layouts/side-menu.css", rel="stylesheet") 
        link(href="/css/style.css", rel="stylesheet")
    body
        include ../partials/navbar
        
        include ../partials/map

        // navbar js
        script(src="js/ui.js", language="javascript", type="text/javascript")

        // my scripts
        script(src="/js/web3.min.js", language="javascript", type="text/javascript")
        script(src="/contracts/contract_abi.js", language="javascript", type="text/javascript")
        script(src="/js/myPlacesWeb3.js", language="javascript", type="text/javascript")